<section role="region">
  <header>
   <a href="#"><span class="icon icon-back">back</span></a>
   <h1>Options</h1>
  </header>
</section>
<div class="login-container">
<div class="login-form">
<form>
  <br>
  <p>ownCloud Installation Location</p>
  <p>
    <input id="cloud-location" type="text" placeholder="http://servername.com/ownCloud" required="" ng-model="location">
  </p>
  <p>Username</p>
  <p>
    <input type="text" id="cloud-username" placeholder="" required="" ng-model="name">
  </p>
  <p>Password</p>
  <p>
    <input type="text" id="cloud-password" placeholder="" required="" ng-model="password">
  </p>
  <p>
    {{location}}
    {{name}}
    {{password}}
  <button type="update" ng-click="save()">Update</button>
  </p>
</form>
</div>
</div>
