<section role="region">
  <header>
   <a href="#"><span class="icon icon-back">back</span></a>
   <h1>Options</h1>
  </header>
</section>
<form>
  <br>
  <p>ownCloud Installation Location</p>
  <p>
    <input id="cloudLocation" type="text" placeholder="http://servername.com/ownCloud" required="">
  </p>
  <p>Username</p>
  <p>
    <input type="text" id="cloudUsername" placeholder="" required="">
  </p>
  <p>
    <p>Password</p>
    <input type="text" id="cloudPassword" placeholder="" required="">
    <button type="reset">Update</button>
  </p>
</form>
