<section id="modify-settings" role="region">
  <header id="modify-settings-header">
    <menu type="toolbar">
    <a href="#">
      <span>Done</span>
    </a>
    </menu>
    <h1>Settings</h1>
  </header>
  <section id="modify-account-view" class="content">
    <header>
      <h2>ownCloud account</h2>
    </header>
    <form>
      <ol>
        <li>
          <input name="title" placeholder="Server address (http://...)" dir="auto" type="text">
        </li>
        <li>
          <input name="title" placeholder="Username" dir="auto" type="text">
        </li>
        <li>
          <input name="title" placeholder="Password" dir="auto" type="password">
        </li>
        <li>
          <button>Check connection</button>
        </li>
      </ol>
    </form>
  </section>
</section>

  <!-- <li>
  <p>Server address</p>
  <p>
    <input id="cloud-location" type="text" placeholder="http://servername.com/ownCloud" required="" ng-model="credentials.location">
  </p>
  <p>Username</p>
  <p>
    <input type="text" id="cloud-username" placeholder="" required="" ng-model="credentials.username">
  </p>
  <p>Password</p>
  <p>
    <input type="text" id="cloud-password" placeholder="" required="" ng-model="credentials.password">
  </p>
  <button type="update" ng-click="save()">Update</button>
  <div id=status>{{updateStatus}}</div>  -->

