<section id="modify-settings" role="region">
  <header id="modify-settings-header">
    <menu type="toolbar">
    <a ng-click="save()">
      <span>Done</span>
    </a>
    </menu>
    <h1>Settings</h1>
  </header>
  <section id="modify-account-view" class="content">
    <header>
      <h2>ownCloud account</h2>
    </header>
    <form>
      <ol>
        <li>
          <input name="title" placeholder="Server address (http://...)" 
            dir="auto" type="text" ng-model="credentials.address"/>
        </li>
        <li>
          <input name="title" placeholder="Username" dir="auto" type="text"
            ng-model="credentials.username"/>
        </li>
        <li>
          <input name="title" placeholder="Password" dir="auto" type="password"
            ng-model="credentials.password"/>
        </li>
        <li>
          <button id="check-connection-btn" ng-click="checkConnection()">
            Check connection
          </button>
        </li>
        <li>
            <div id="connection-status">{{ updateStatus }}</div>
        </li>
      </ol>
    </form>
  </section>
</section>
