* { -moz-box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #424242;
  font-size: 1rem;
  overflow: hidden;
}

section {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.4rem;
}

/* All of the main views fill the screen */
#gallery-view, #select-view, #fullscreen-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 2.1rem;
  /* display will be determined by LAYOUT_MODE */
  display: block;
}

#gallery-view-top {
  /* ownCloud default color */
  background-color: #1D2D44;
  color: #fff;
}

#thumbnails {
  position: absolute;
  left: 0;
  width: 100%;
  top: 5rem;
  bottom: 0;
  /* top and bottom are set depending on view below */
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  /*
  * the body background is black, but remind the UA of that here to
  * keep the thumbnail view opaque if possible.
  */
  background-color: #0E1214;
  /*
  * set it visible/hidden by LAYOUT_MODE
  */
  /*visibility: hidden;*/
  pointer-events: auto;
}

.thumbnail {
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  padding: 0;
  /* default to left-to-right, but overridden for rtl languages below */
  float: left;
  /* don't let the user select the items */
  -moz-user-select: none;
  background-color: #444;
  /*
  * Here's the thumbnail size for portrait mode. We have 3 thumbnails
  * for each row. The size for landscape mode is handled below by
  * media query.
  * Padding-bottom is used here in order to set div height with respect
  * to device width.
  */
  width: calc((100% - 0.2rem) / 3 );
  height: 0;
  padding-bottom: calc((100% - 0.2rem) / 3 );
}

.thumbnail:nth-child(3n) {
  margin-right: 0;
}

@media (orientation: landscape) {
  /* 4 thumbnails for each row in landscape mode. */
  .thumbnail {
    width: calc((100% - 0.3rem) / 4);
    padding-bottom: calc((100% - 0.3rem) / 4);
  }
  .thumbnail:nth-child(3n) {
    margin-right: 0.1rem;
  }
  .thumbnail:nth-child(4n) {
    margin-right: 0;
  }
}

.thumbnailImage {
   width: 100%; */
}
/*
  section {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.4rem;
}
*/

/* from the old style.css file */

/*
#media-container {
  height: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}
#contents {
  overflow-x: hidden;
  overflow-y: auto;
  width: 320px;
  height: 360px;
  background: #ccc;
}
#upload-button {
  height:4em;
  width:98%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}
#status-bar {
  position: relative;
  width:100%;
  height:50px;
  background-color:#999;
  padding:0px;
  bottom:0px;
}
.onserver {
  opacity: 0.4;
}
.checkbox {
  margin: 0px 0px 15px 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.double {
  zoom:2;
  transform:scale(2);
  -ms-transform:scale(2);
  -webkit-transform:scale(2);
  -o-transform:scale(2);
  -moz-transform:scale(2);
  transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -o-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -webkit-transform-origin:0 0;
}
*/